body {
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    background-color:darkslategray;
    color:white;    
}



nav ul {
    list-style:none;
    background-color:black;
    text-align:center;
    padding:0;
    margin:0;
    width:100%;
}
nav li{
    font-size:20px;
    display:inline-block;
    line-height:20px;
    height:20px;
    margin:2%;
}
nav a {
    color:gold;
    display:block;
}
p{
    margin-left:5%;
    margin-right:5%;


}
.coffe{
    width:50vw;
    height:40vh;
}

h2{
    margin-left:5%;
    margin-right:5%;
}
.btchow{
    vertical-align: middle;
    width:60vw;
    height:30vh;
    Margin-left:20%;
    margin-right:20%;
}

.chart{
    vertical-align: middle;
    width:50vw;
    height:30vh;
    Margin-left:20%;
    margin-right:20%;  
}

.ledgerpic{
    vertical-align: middle;
    width:60vw;
    height:20vh;
    Margin-left:20%;
    margin-right:20%;
}
    
.dlt{
    vertical-align: middle;
    width:60vw;
    height:30vh;
    Margin-left:20%;
    margin-right:20%;
}
a:hover{
    background-color: darkblue;
}


a{
    color:gold;
}